.container {
  background: var(--mat-sys-primary-container);

  padding: 0.25rem;
  size: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
